<header class="mb-5 mt-3">
    <div class="text-center">
        {{ if .IsHome }}
            <h1 class="text-4xl font-bold leading-none">
                <a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
            </h1>
        {{ else }}
            <p class="text-4xl font-bold leading-none">
                <a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>
            </p>
        {{ end }}
        {{ with .Site.Params.subtitle }}
            <p class="text-sm italic text-gray-700">{{ . }}</p>
        {{ end }}
    </div>
</header>
